h1,h2,h3,h4,h5,.title, #modalTitle {
    font-family: "Rubik Spray Paint", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
*{
    font-family: "Englebert", serif;
    font-weight: 400;
    font-style: normal;
}
.rajta {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.rajta:hover {
    background-color: white;   
}
.rajta:hover > h2{
    background: linear-gradient(to right, #394fb4, #ad4685); 
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}
.rajta:hover button{
    background: linear-gradient(to right, #394fb4, #ad4685); 
}
.rajta:hover .input {
    background-color: #3e2246;
}

.rajta:hover .text,p{
    color:white;
}

body.light {
    background: linear-gradient(to right, #394fb4, #ad4685);
}

body.dark {
    background: linear-gradient(to right, #122164, #5e1040);
}

/* Navbar.css */

/* Transition for side panel */
.side-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100%;
    background-color: #5b3067;
    color: white;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

/* Show the side panel */
.side-panel.show {
    right: 0;
    opacity: 1;
}

/* Style for close button */
.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

/* YingYang icon animation */
.yingyang-icon {
    transition: transform 0.3s ease, filter 0.3s ease; /* Added filter transition */
}

.yingyang-icon.active {
    transform: rotate(180deg); /* Rotation effect */
    filter: brightness(1.2) saturate(1.5); /* Extra visual effect for color change */
}
